body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  background: linear-gradient(to right, #672280, #6c4b79);
  display: flex;
  align-items: center;
  color: white;
}

.header img {
  padding: 15px;
  height: 27px;
  width: 32px;
}

.textOptions {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  margin: 25px auto;
  gap: 10px;
}
.textOptions input[type='text'] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(136, 131, 131, 0.596);
  font-size: 1.1rem;
}

.textOptions .newMeme {
  background: linear-gradient(to right, #672280, #6c4b79);
  grid-column: span 2;
  width: 100%;
  color: white;
  font-weight: bolder;
  font-size: 1.1rem;
  margin: 15px auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(136, 131, 131, 0.596);
}

.memeImg {
  position: relative;
  margin: 0 auto;
}
.top, .bottom {
  position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top {
  top: 0;
}
.bottom {
  bottom: 0;
}

.memeImg img {
  display: block;
  max-width: 100%;
}

@media screen and (min-width: 600px) {
  .memeImg img {
    width: 70%;
    margin: 0 auto;
  }
}
